
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}


.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

p {
  margin: 0;
  font-style:inherit;
  font-size: x-large;
}
.buttons {
  margin-top: 20px;
}
.buttons button {
  margin-right: 10px;
}
.custom-btn {
  font-size: 13px;
  padding: 5px 13px;
}
.container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}