<div class="card">
    <div class="card-header">
      ASOCIAR PRODUCTO A BODEGA
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Producto</label>
              <input type="producto" class="form-control" id="inputproducto" placeholder="Producto">
            </div>
            <br>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Descripcion</label>
              <input type="Descripcio" class="form-control" id="inputDescripcio" placeholder="Descripcion">
            </div>
          </div>
          <br>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputState">Bodega</label>
              <select id="inputState" class="form-control">
                <option selected>Bodega 1</option>
                <option>Bodega 2</option>
                <option>Bodega 3</option>
                <option>Bodega 4</option>
                <option>Bodega 5</option>
                
              </select>
            </div>
            <br>
            <br>
          </div>
          <p></p>
          
          
          <button type="submit" class="btn btn-success">Agregar</button>
        </form>
        
        
      </blockquote>
      
    </div>
  </div>
    
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Bodega</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Celular</td>
        <td>Samsung</td>
        <th>Bodega1</th>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Tablet</td>
        <td>Appple</td>
        <th>Bodega3</th>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>PLay Station</td>
        <td>Sony</td>
        <th>Bodega5</th>
      </tr>
    </tbody>
  </table>