h1 {
    text-align: left;
    color: #faf7f7;
    background-color: rgb(0, 46, 107);
  }


.reduced-image {
    max-width: 300px; /* Define el ancho máximo deseado */
    max-height: 300px; /* Define la altura máxima deseada */
  }
  
 
  
    body {
      font-family: Arial, sans-serif;
    }

    .invoice {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
    }

    .invoice-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .invoice-header h1 {
      font-size: 24px;
      color: #333;
    }

    .invoice-details {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .invoice-details p {
      margin: 0;
    }

    .invoice-table {
      width: 100%;
      border-collapse: collapse;
    }

    .invoice-table th,
    .invoice-table td {
      padding: 10px;
      border: 1px solid #ccc;
    }

    .invoice-total {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }

    .invoice-total p {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }

    button {
        padding: 20px 16px;
        background-color: #07e207;
        color: white;
        border: none;
        cursor: pointer;
        justify-content: center;

      }
      
      .button-container {
        display: block;
        justify-content: center;
      }
      
